@use "variaveis.scss";

.espn {
  padding: 7.5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 24px;

  @media (max-width: 768px) {
    display: block;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10vw 5vw;
}
  }

  img {
    max-width: 100%;

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  .espn__text__container {
    padding: 1vw;
    text-align: center;

    @media(max-width: 768px) {
      display: block;
    }
  }

  h2 {
    font-size: variaveis.$titletSize;
    line-height: variaveis.$titletSize + 10px;
    color: variaveis.$CorTitulo;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
    }
  }

  p {
    font-size: variaveis.$textSize--big;
    line-height: variaveis.$textSize--big + 10px;
    color: variaveis.$CorTexto;
    text-align: start;
    margin-top: 16px;

    @media (max-width: 767px) {
      font-size: 17px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 16px;
    }
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      margin-bottom: 16px;
    }
  }

