@use "variaveis.scss";

.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px; 
        text-align: center !important;
         
        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 34px;
            
        }
    }

    &__questions {
        &__item {
            background-color: #35313f;
            margin-bottom: 16px;

            &__question {
                color: #fff;
                font-size: 20px;
                padding: 26px;
                display: block;
                cursor: pointer;
                position: relative;

                @media (max-width: 768px) {
                    font-size: 15px;
                    line-height: 25px;
                }

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                margin-top: 0;
                height: 0;
                overflow: hidden;
                padding: 0 20px;
                transition: height, .5s ease;
                color: variaveis.$CorTexto;
                white-space: pre-line;
                font-size: 18px;
            }

            &--is-open {
                .faq__questions__item__question::after {
                    content: '-';
                }
                
                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, .5s ease;
                }
            }
        }
    }
}