@use "variaveis.scss";

.hero {
  background-image: url(../images/Hero_star+.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  height: auto;
  padding: 5.8vw;
  justify-content: center;

  

  .hero__content {
    margin: 248px auto 48px auto;
    width: 100%;
    max-width: 620px;
    max-height: 280px;

    &_brand {
      width: 185px;
      height: 55px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
  }

  .title--small {
    color: variaveis.$CorTitulo;
    font-size: variaveis.$titleSize--small;
    line-height: variaveis.$titletSize + 10px;
    margin-bottom: 18px;
  }

  .button__text {
    width: 100%;
    height: 70px;
    max-height: 100px;
    max-width: 630px;
    margin-bottom: 24px;
    margin-top: 2vw;

    font-family: inherit;
    font-size: variaveis.$button_textSize;
    line-height: variaveis.$button_textSize + 10px;
    text-align: center;
    text-transform: uppercase;
    color: variaveis.$CorTitulo;
    background-color: variaveis.$Corbotao;
    border: none;
    border-radius: 4px;
    justify-content: center;

    &:hover {
      background-color: #7134ff;
      cursor: pointer;
    }
  }

  .link__text {
    color: variaveis.$CorTitulo;
    font-size: variaveis.$link_textSize;
    line-height: variaveis.$link_textSize + 10px;
    cursor: pointer;
  }

  .hint {
    cursor: pointer;
    left: auto;

    &-down {
      animation: bounce 1.75s infinite ease-in-out alternate;
      border: none;
      opacity: 0.65;
      color: variaveis.$CorTitulo;
      height: 32px;
      width: 32px;
    }
  }

  @keyframes bounce {
    100% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-15px);
    }
    0% {
      transform: translateY(0px);
    }
  }
}
