@use 'variaveis.scss';
@use 'mixim.scss';

.hero{
    background-image: url(../images/Hero_star+.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    height: 100vh;
    padding: 5.6vw;
   
     .hero__content{
        display: block;
        justify-content: center;
        align-items: center;
        max-width: 740px;

        &_brand{
            width: 185px;
            height: 55px;
            margin: 0 auto;
            margin-bottom: 28px ;
        }

    } 

.link__text {
     margin-bottom: 4px;
}
        
.title--small{ 
    margin-bottom: 25px;
}
        
.button__text {
    margin-bottom: 26px; 
}   

} 



