@use "variaveis.scss";

.hero {
  background-image: url(../images/Hero_star+.jpg);
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  padding: 5.6vw;
  justify-content: center;
  margin-top: -70px;

  
  @media (max-width: 767px) {
    background-image: url(../images/responsividade/hero_mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 50vw 6vw 20vw 6vw;
    min-height: 0vh;
    margin-top: -50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: url(../images/responsividade/hero_mobile.jpg);
    background-position: top;
    background-size: 100%;
    display: block;
    background-repeat: no-repeat;
    max-height: 716px;
    height: 100%;
    margin-top: -70px;
    padding: 64px 36px;
    padding-bottom: 16px;
    
  }
  

  .hero__content {
    margin: 260px auto 30px auto;
    width: 100%;
    max-width: 620px;
    max-height: 280px;
    margin-bottom: 48px;

    &_brand {
      width: 185px;
      height: 55px;
      margin: 0 auto;
      margin-bottom: 16px;

      @media screen and (min-width: 768px) and (max-height: 1023px) {
        text-align: center;
        max-width:148px;
        max-height: 48px;
        margin-bottom: 8px;
      }

      @media (max-width: 767px) {
        text-align: center;
        max-width:148px;
        max-height: 48px;
        margin-bottom: 8px;
      }
    }
    

    @media (max-width: 767px) { 
      max-width: 500px;
      width: 100%;
      margin-bottom: 70px;
      margin-top: 32px;
      text-align: center;

    }

    @media screen and (min-width: 768px) and (max-width:1023px) { 
      max-width: 540px;
      padding: 0;
      margin-top: 256px;
      padding-bottom: 80px;
      text-align: center;
      align-items: center;
    }



  }

  .title--small {
    color: variaveis.$CorTitulo;
    font-size: variaveis.$titleSize--small;
    line-height: variaveis.$titletSize + 10px;
    margin-bottom: 24px;

    @media (max-width: 767px) {
      font-size: 1px;
      line-height: 26px;
      text-align: center;
      margin-bottom: 16px;
    }
    @media screen and (max-width: 768px) and (max-height: 1023px) {
      text-align: center;
      font-size: 26px;
      margin-bottom: 16px;
    }

  }

  .button__text {
    width: 100%;
    height: 70px;
    max-height: 100px;
    max-width: 630px;
    margin-bottom: 16px;

    font-family: inherit;
    font-size: variaveis.$button_textSize;
    line-height: variaveis.$button_textSize + 10px;
    text-align: center;
    text-transform: uppercase;
    color: variaveis.$CorTitulo;
    background-color: variaveis.$Corbotao;
    border: none;
    border-radius: 4px;
    justify-content: center;

    &:hover {
      background-color: #7134ff;
      cursor: pointer;
    }

    @media (max-width: 767px) {
      display: block;
      max-height: 50px;
      max-width: 364px;
      margin-bottom: 16px;
      font-size: 16px;
    }

    @media screen and (min-width: 768px) and (max-height: 1023px) {
      display: block;
      max-height: 50px;
      margin-bottom: 16px;
      font-size: 16px;
      justify-content: center;
      text-align: center;

    }

    
  }

  .link__text {
    color: variaveis.$CorTitulo;
    font-size: variaveis.$link_textSize;
    line-height: variaveis.$link_textSize + 10px;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .hint {
    cursor: pointer;
    left: auto;
    padding: 8px;



    &-down {
      animation: bounce 1.75s infinite ease-in-out alternate;
      border: none;
      opacity: 0.65;
      color: variaveis.$CorTitulo;
      height: 32px;
      width: 32px;
    }
  }

  @keyframes bounce {
    100% {
      transform: translateY(0px);
    }
    60% {
      transform: translateY(-10px);
    }
    0% {
      transform: translateY(0px);
    }
  }
}

