@use "variaveis.scss";

.Popular {
  padding: 5vw;
  margin: auto;
}

.titleSize {
  font-size: variaveis.$titletSize;
  line-height: variaveis.$titletSize + 10px;
  color: variaveis.$CorTitulo;
  margin-bottom: 18px;
}

.textSize {
  font-size: variaveis.$textSize;
  line-height: variaveis.$textSize + 10px;
  color: variaveis.$CorTexto;
  margin-bottom: 20px;
}

picture {

  @media(max-width: 768px) {
    width: 100%;    
    height: auto;
    display: block;
  }
}
