@use "variaveis.scss";

.Popular {
  padding: 5.8vw;
  margin: auto;

  @media (max-width: 768px) {
    padding: 6vw 7vw 4vw 7vw;
  }
}

.titleSize {
  font-size: variaveis.$titletSize;
  line-height: variaveis.$titletSize + 10px;
  color: variaveis.$CorTitulo;
  margin-bottom: 18px;

  @media (max-width: 768px) {
    font-size: 20px;
    line-height: 30px;
    text-align: start;
  }
}

.textSize {
  font-size: variaveis.$textSize;
  line-height: variaveis.$textSize + 10px;
  color: variaveis.$CorTexto;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    text-align: start;
    font-size: 13px;
    margin-bottom: 12px;
  }
}

picture {

  @media(max-width: 768px) {
    width: 100%;    
    height: auto;
    display: block;
  }
}
