@use 'variaveis.scss';


@mixin title--small ($title--small){ 
  font-size: 28px;
  line-height: $text--small + 10px;
  color: variaveis.$CorTitulo;
}
// $textSize: 16px;
// $link__text: 

// $titletSize: 40px;


// TODOS OS TEXTOS 
// @mixin text($textSize: 16px ) {
//     font-size: $textSize;
//     line-height: $textSize + 10px;
//     color: variaveis.$CorTexto;
// }

// @mixin text--small{
//     @include text(12px);
// }

// @mixin text{
//     @include text;
// }

// @mixin link__text{
//     @include text;
//     color: variaveis.$CorTitulo;
//     text-decoration: underline;
// }

// @mixin text--big{
//     @include text(18px);
// }

// @mixin button__text{
//     @include text(18px);
//     line-height: 18px;
//     color: $CorTitulo;
// }

// @mixin text--bigger{
//     @include text(20px);
//     color: variaveis.$CorTitulo;
// }

// // TODOS OS TITULOS
// @mixin title($titletSize: 40px) {
//     font-size: $titleSize;
//     line-height: $titleSize + 10px;
//     color: variaveis.$CorTitulo
// }

// @mixin title--small{
//     @include title(28px);
// }

// @mixin title{
//     @include title;
// }

// @mixin title--big{
//     @include title(44px);
// }
