// pALETA DE CORERS
$CorFundo: #0a0c16;
$CorTitulo: #f9f9f9f5;
$CorTexto: #cacaca;
$Corbotao: #6421ff;
$Corbotao_assineagora: #fc3c36;
$Corbotao_Entrar: #443f52e8;

// TAMANHO FONTES
$textSize--small: 12px;
$textSize: 16px;
$textSize--big: 18px;
$textSize--bigger: 20px;

$button_textSize: 18px;
$link_textSize: 16px;

$titleSize--small: 28px;
$titletSize: 40px;
$titleSize--big: 44px;

//
